<section id="about">
  <div class="container wrapper">
    <div class="about-photo">
      <picture>
        <source
        srcset="/img/About@2x.png 2x, /img/About.png 1x"
        media="(min-width: 1440px)">
        <img src="/img/About.png" class="img-about" alt="About image">
      </picture>
           <picture>
        <source
        srcset="/img/About2@2x.png 2x, /img/About2.png 1x"
        media="(min-width: 1440px)">
        <img src="/img/About2.png" class="img-about" alt="About image">
      </picture>
        <picture>
        <source
        srcset="/img/About3@2x.png 2x, /img/About3.png 1x"
        media="(min-width: 1440px)">
        <img src="/img/About3.png" class="img-about" alt="About image">
      </picture>
    </div>
    <div class="about-text-block">
      <h2 class="about-h2">About the Game</h2>
      <p class="about-text">A cozy cat-filled puzzle experience designed for fun.
You'll spend your time solving puzzles to feed hungry cats, and trust me, they get pretty creative with their demands as you progress. Every level introduces new visual surprises, animated cat personalities, and satisfying interactions. It's perfect when you've got like 10 minutes to kill - super easy to start playing, but then you'll probably end up playing way longer than you planned. And yeah, it'll definitely make you smile.</p>
    </div>
  </div>
</section>