<section id="catChaos" class="cat-chaos-section">
  <div class="container cat-chaos-container">
    <h2 class="cat-chaos-title">Ready to survive the cat chaos?</h2>
    
    <div class="cat-chaos-link-wrapper">
      <svg class="cat-chaos-icon" width="22" height="16">
        <use href="img/sprite.svg#icon-message"></use>
      </svg>
      <a href="mailto:info@digitalcorner.online" class="cat-chaos-email">info@digitalcorner.online</a>
    </div>
    
    <picture class="cat-chaos-picture">
      <source srcset="img/CatChaos.png 1x, img/CatChaos@2x.png 2x" />
      <img src="img/CatChaos.png" alt="Cats in a box" class="cat-chaos-img" width="248" height="154" />
    </picture>
  </div>
</section>