<section id="hero">
  <div class="container">
    <div class="hero-content">
      <h1>Outsmart The Most Chaotic Cats Ever</h1>
      <p class="hero-after-h1">Funny puzzle challenges with nonstop feline trouble.</p>
      <a class="btn-google" target="_blank" href="https://play.google.com/store/apps/details?id=com.aestheticgames.annoying.cats.puzzle&hl=en&gl=us">
        <img src="/img/Google-logo.png" class="google-icon" alt="google-icon">
        <div class="btn-content">
          <p class="btn-one">Play ON</p>
          <p class="btn-two">Google Play</p>
        </div>
      </a>
    </div>
  </div>
</section>