html {
  scroll-behavior: smooth;
}

#about, #features, #catChaos{
background: #f6e7d3;
}
#howToplay, #faq{
background: #fff4e8;
}

body[data-scroll="disabled"] {
  overflow: hidden;
  height: 100vh;
}
