/* Styles for Mobile devices */
.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 17px;
}
section{
  padding: 56px 0px;
  scroll-margin-top: 56px
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 72px;
  }
  section{
  padding: 100px 0px;
  scroll-margin-top: 100px
}
}
